*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.page1{
    width: 100%;
    height: 100%;
    background-color: rgb(6, 6, 20);
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1vmax 0vmax;
}
nav h3{
    cursor: pointer;
}
nav .nav-left{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}
nav .nav-right{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
nav .nav-right button{
    /* color: black; */
    width: 4vmax;
    height: 2vmax;
    border-radius: 4vmax;
    border: 1px solid black;

}
.nav-right span{
    width: 5vmax;
    height: 100%;
    background-color: gray;
    color:gray;
    border-radius: 4vmax;
    padding: 0.3vmax;
    margin-right: 1.05vmax;
    
}
.nav-left img{
    width: 25vmax;
    /* height: 15vmax; */
}
.image{
    display: flex;
    justify-content: space-evenly;
}
.image .image-left img{
    height: 25vmax;
    transform: translateX(2.5vmax);
    margin-top: -5.5vmax;
    /* display: none; */
    opacity: 0;
    /* background-color: gray; */
}
.image .matter-right{
    width: 30%;
    /* line-height: 2.5vmax; */
    transform: translateY(-15vmax);
    /* background-color: red; */
}
.matter-right button{
    color: white;
    padding: 0.5vmax 1vmax;
    border-radius: 2vmax;
    cursor: pointer;
    background-color: rgb(43, 92, 43);
    margin: 1vmax 0vmax;
}
.matter-right h1{
    font-size: 5vmax;
    margin: 1vmax 0vmax;
}
.matter-right p{
    margin: 0.5vmax 0vmax;
    line-height: 1.7vmax;
}